<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label position="floating"> USERNAME</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> PASSWORD</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>


    <ion-button shape="round" text-center (click)="login()">
      ACCEDI
    </ion-button>

  </ion-list>
</ion-content>

